@media (max-width: 992px) {
  .hero {
    height: 20vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero h1 {
    font-size: 18px !important;
    padding: 15px !important;
    max-width: 90% !important;
  }
}